<div class="container">
	<section id="heading">
	<h3 class="mainImage" align="center"><img src="/assets/img/ZJFE.gif" width="200" height="190"></h3>
	<h1 id="mainHeading" align="center">Eat Da Burger</h1>
</section>
<section class="row">
	 <div class="col-md-8 col-left">
            <table>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{>burgers/burger-section}}
                    {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-md-4 col-right">
            <table>
                {{#each burgers}}
                    {{#if devoured}}
                        {{>burgers/burgerAte-section}}
                    {{/if}}
                {{/each}}
            </table>
        </div>          
	</section>
{{!-- 
	<div id="addBurgerID" align="center">
		<input type="text" id="burgerName" class="form-control" required><br>
		<button type="submit" id="addBurger" class="btn-class">Submit</button>
		<h4>Enter Burger you want to eat and hit Submit</h4>
	</div> --}}

<form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="burgerName" name="burger-name" rows="2" cols="40" placeholder="What Burger you want to eat?"></textarea>
             <div id="burger-name-error" class="chkError"></div>
        </div>
        <button type="submit" id="addBurger">Add Burger</button>
        <button id="delete-all">Delete All Burgers</button>
</div>